DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,testserver,backend,pgr.fmu.edu.pk
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:3000,https://pgr.fmu.edu.pk
DATABASE_URL=postgresql://pgms:pgms@db:5432/pgms
POSTGRES_DB=pgms
POSTGRES_USER=pgms
POSTGRES_PASSWORD=pgms
POSTGRES_HOST=db
POSTGRES_PORT=5432
NEXT_PUBLIC_BACKEND_BASE_URL=http://localhost:8000
NEXT_PUBLIC_API_BASE_URL=/api
PGMS_FRONTEND_HOST_PORT=3026
PGMS_BACKEND_HOST_PORT=8026
